/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


table td {
  border: 1px solid silver;
  margin: 0;
  padding: 3px 6px;
  vertical-align: top;
  }

table {
  border-collapse: collapse;
  }  

table th {
  text-align: left;
  }  
  

/* two columns layout */
table.twocols {
  width: 100%;
  }
table.twocols tr td.first {
  border: none;
  padding-right: 15px;
  vertical-align: top;
  }
table.twocols tr td.second {
  border: none;
  border-left: 1px dotted silver;
  padding-left: 15px;
  vertical-align: top;
  }

/*
.largecol {
  width: 400px;
}
*/

.step {
  border: 1px solid gray;
  width: 100px;
  height: 60px;
  display: block;
}

.nowrap {
  white-space: nowrap;
}

.refreshable {
  border-left: 4px solid transparent;
  padding-left: 4px;
}
.updating {
  border-left: 4px solid #ffcccc;
  }

